/* generic */

:root {
    
}

* {
    box-sizing: border-box;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.sr-only {
    display: none;
}

/* close generic */

/* header */



/* close header */

/* main */



/* close main */

/* footer */



/* close footer */